{% extends 'app/base.html' %} <br />
{% load static %} <br />
{% block title %}Buy Now{% endblock title %} <br />
{% block main-content %} <br />

<style>
  body {
    background: white;
  }
  .mainorder img {
    border: 1px solid tomato;
    box-shadow: 5px 5px 5px 5px;
    border-radius: 12px 10px 10px 12px;
  }
  .mainorder p {
    color: black;
  }

  
  .card {
    max-width: 400px;
    margin: auto;
  }
  .imgview img {
    width: 10rem;
    height: 10rem;
  }
  .bkashbtn {
    margin-top: 1rem;
    background: #e63582;
    color: white;
    padding: 7px;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-bottom: 1rem;
    text-decoration: none;
    border-radius: 10px;
  }
  .modal-dialog {
    background: #e63582;
  }
  .modal-content {
    background: #e63582;
  }

  .bkash-border {
    background-color: #e63582;
    width: 28rem;
    height: 28rem;
    margin: auto;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
  }

  .sub-border {
    width: 26rem;
    position: absolute;
    margin-top: 4%;
    margin-left: 4%;
    height: 10rem;
    background-color: #e63582;
    box-shadow: 2px 2px 2px 2px;
    border-radius: 10px 10px 10px 0px;
  }

  .sub-border h6 {
    margin-top: 5%;
    margin-bottom: 8%;
    color: white;
  }

  .my_payment_img {
    position: absolute;
    width: 35rem;
    left: 29%;
    height: 7rem;
    object-fit: cover;
  }

  .bkash-form {
    margin-top: 8%;
  }

  .new-input {
    border-radius: 5px 5px 0px 5px;
    padding: 4px;
  }

  .label1 {
    font-size: 1.2rem;
    color: white;
  }

  .form-check-label {
    color: white;
  }

  .bbtn {
    background: #e6a8c1;
  }
</style>
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-white" id="exampleModalLabel">Bkash</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body mx-0">  {% for message in messages %}
        <div
          class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show"
          role="alert"
        >
          <strong>{{ message }}</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %} {% if form.errors %}
        <!--error-->
        {% for field in form %}
        <!--error-->
        {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %} {% endfor %} {% endif %}
          <div class="bkash-border">
            <div class="sub-border">
              <h6 class="mt-35">Merchant: Medihub</h4>
                <h6>Invoice no: 01312145432</h4>
              <h6 class="mt-2"></h4>
              <h6 class="mt-3 mb-5">Amount: BDT 500</h4>
              <form action="" class="bkash-form" method="POST">
                {% csrf_token %}
                <label for=""  class="mb-2 label1">Your Bkash Account Number</label> <br>
                <input type="number"  / class="new-input" name="bkashnumber" placeholder="+88">
        
                <div class="mb-3 form-check mt-3">
                  <input type="checkbox" c()
                  lass="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">I agree the <a href="" class="text-white">terms and condition</a></label>
                </div>
        
               
        
                  <button type="submit" class="btn bbtn">PROCEED</button>
                  <button type="submit" class="btn bbtn ms-3">Close</button>
                  
          
                <div class="mt-3">
                    <p class="text-white"><i class="fa fa-phone" aria-hidden="true"></i> 16247</p>
                </div>
              </form>
            </div>
          </div>
        </div>
        </div>
      
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col-sm-2 border-end">
      <ul class="list-unstyled">
        <li class="d-grid">
          <a href="{% url 'orders' %}" class="btn btn-info">Orders</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-9 offset-sm-1">
      {% for op in order_placed %}
      <div class="row shadow-sm mb-3 mainorder">
        <div class="col-sm-3">
          <img
            src="{{op.product.product_image.url}}"
            alt=""
            height="200"
            width="200"
            style="object-fit: cover"
          />
        </div>
        <div class="col-sm-5">
          <p>Product : <span class="fw-bold">{{op.product.title}}</span></p>
          <p>Quantity : {{op.quantity}}</p>
          <p>Price : ৳ <span>{{op.total_cost}}</span></p>
        </div>
        <div class="col-sm-3 fw-bold">
          <p class="text-danger">Order Status {{op.status}}</p>
          {% if op.status == 'Accepted' %}
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 20%"
              aria-valuenow="20"
              aria-valuemin="0"
              aria-valuemin="100"
            ></div>
          </div>

          {% endif %} {% if op.status == 'Packed' %}
          <div class="progress">
            <div
              class="progress-bar bg-info"
              role="progressbar"
              style="width: 40%"
              aria-valuenow="40"
              aria-valuemin="0"
              aria-valuemin="100"
            ></div>
          </div>
          {% endif %} {% if op.status == 'On The Way' %}
          <div class="progress">
            <div
              class="progress-bar bg-warning"
              role="progressbar"
              style="width: 70%"
              aria-valuenow="70"
              aria-valuemin="0"
              aria-valuemin="100"
            ></div>
          </div>

          {% endif %} {% if op.status == 'Delivered' %}
          <div class="progress">
            <div
              class="progress-bar bg-success"
              role="progressbar"
              style="width: 100%"
              aria-valuenow="100"
              aria-valuemin="0"
              aria-valuemin="100"
            ></div>
          </div>
          {% endif %}
        </div>
      </div>
      <div >
        <div class="wrap">
          <a href="#" class="bkashbtn" type="button"
        
          data-bs-toggle="modal"
          data-bs-target="#exampleModal">Bkash Payment</a>
        </div>
      </div>
      {% endfor %}
      
    </div>
  </div>
</div>
{% endblock main-content %}
