{% extends 'app/base.html' %} <br />
{% load static %} <br />
{% block title %}Buy Now{% endblock title %} <br />
{% block main-content %} <br />

<style>
  body {
    background: white;
  }
  .mainorder img {
    border: 1px solid tomato;
    box-shadow: 5px 5px 5px 5px;
    border-radius: 12px 10px 10px 12px;
  }
  .mainorder p {
    color: black;
  }
</style>
<div class="container my-5">
  <div class="row">
    <div class="col-sm-2 border-end">
      <ul class="list-unstyled">
        <li class="d-grid">
          <a href="{% url 'orders' %}" class="btn btn-info">Orders</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-9 offset-sm-1">
      {% for op in order_placed %}
      <div class="row shadow-sm mb-3 mainorder">
        <div class="col-sm-3">
          <img
            src="{{op.product.product_image.url}}"
            alt=""
            height="200"
            width="200"
            style="object-fit: cover"
          />
        </div>
        <div class="col-sm-5">
          <p>Product : <span class="fw-bold">{{op.product.title}}</span></p>
          <p>Quantity : {{op.quantity}}</p>
          <p>Price : ৳ <span>{{op.total_cost}}</span></p>
        </div>
        <div class="col-sm-3 fw-bold">
          <p class="text-danger">Order Status {{op.status}}</p>
          {% if op.status == 'Accepted' %}
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 20%"
              aria-valuenow="20"
              aria-valuemin="0"
              aria-valuemin="100"
            ></div>
          </div>

          {% endif %} {% if op.status == 'Packed' %}
          <div class="progress">
            <div
              class="progress-bar bg-info"
              role="progressbar"
              style="width: 40%"
              aria-valuenow="40"
              aria-valuemin="0"
              aria-valuemin="100"
            ></div>
          </div>
          {% endif %} {% if op.status == 'On The Way' %}
          <div class="progress">
            <div
              class="progress-bar bg-warning"
              role="progressbar"
              style="width: 70%"
              aria-valuenow="70"
              aria-valuemin="0"
              aria-valuemin="100"
            ></div>
          </div>

          {% endif %} {% if op.status == 'Delivered' %}
          <div class="progress">
            <div
              class="progress-bar bg-success"
              role="progressbar"
              style="width: 100%"
              aria-valuenow="100"
              aria-valuemin="0"
              aria-valuemin="100"
            ></div>
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock main-content %}
