{% extends 'app/base.html' %} <br />
{% load static %} <br />
{% block title %}Buy Now{% endblock title %} <br />
{% block main-content %}

<style>
  body {
    background: white;
  }

  form label {
    color: black;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
  }
  form .btn {
    width: 100%;
    margin-top: 1rem;
    background: #ff1a1a;
  }
  .t1 {
    color: black;
  }
</style>

<div class="container my-5" style="height: 420px">
  <div class="jumbotron m-auto w-50">
    <h1 class="text-center t1">Change Password</h1>
    <form action="" method="post" novalidate class="shadow p-5 pt-2">
      {% csrf_token %} {% for fm in form %}
      <div class="form-group mb-3">
        {{fm.label_tag}} {{fm}}
        <small class="text-danger"> {{fm.errors|striptags}} </small>
      </div>
      {% endfor %}
      <div class="w-100">
        <input type="submit" value="Save" class="btn btn-primary" />
      </div>

      {% if form.non_field_errors %} {% for error in form.non_field_errors %}
      <p class="alert alert-danger my-3">{{error}}</p>
      {% endfor %} {% endif %}
    </form>
  </div>
</div>
{% endblock main-content %}
