{% extends 'app/base.html' %} {% load static %} {% block title %}Password Change
Done{% endblock title %} {% block main-content %}
<div class="container my-5">
  <div class="row">
    <h3>Reset Password Complete</h3>
    <div class="col-sm-2 border-end">
      <div class="list-unstyled">
        <li class="d-grid">
          <a href="{% url 'profile' %}">Change Password Done</a>
        </li>
      </div>
    </div>
    <div class="col-sm-9 offset-sm-1 text-center">
      <h3>Reset Password Completed !!</h3>
      <div>
        <iframe
          src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk"
          width="200"
          height="200"
          frameborder="0"
          class="giphy-embed"
        ></iframe>
      </div>
    </div>
  </div>
</div>
{% endblock main-content %}
